<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <figure><embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed></figure> -->
<figure><embed src="https://wakatime.com/share/@noah85/6d6465d3-e9ec-4f06-a012-f809cb65d8ad.svg"></embed></figure>

<!-- Hours Coded -->
<!-- <figure>
    <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed>
</figure> -->
<figure><embed src="https://wakatime.com/share/@noah85/2b45bdf3-3431-4d46-aafe-1177313534c6.svg"></embed></figure>